/*H1 will have a blue background */
.css-classes {
    background: navy;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

/*P 1 will have large font weight*/
#number-one{
    font-weight: 700;
    border: 2px solid black;
    margin-top: 20px;
    width: 90%;
}